:root {
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

.column {
  float: left;
}

.left {
  width: 25%;
  margin-left: 20px;
}

.right {
  width: 75%;
  margin-left: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
    font-family: Arial, sans-serif;
    color: var(--white);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .25px;
    margin: 0;
    background-color: rgb(0, 94, 94);
}

header {
  color: var(--white);
  padding: 20px;
  background-image: url(images/stars.jpg);
}

header h1 {
  font-size: 50px;
  justify-content: flex-start;
}

nav {
  margin-top: 20px;
}

header nav ul {
  padding: 0;
  margin: 0;
  color: var(--white);
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav ul li a {
  margin-right: 10px;
  color: var(--white);
}

section {
  padding: 20px;
  border-left: 10px solid var(--white);
}


section h2 {
  margin-top: 0;
}

.profile-pic {
  max-width: 25%;
  display: inline-flex;
  margin: 10px;
  justify-content: flex-end;
  border: 5px solid var(--white);
  box-shadow: 10px 5px 5px black;
}

.about-section {
  display: flex;
  padding: 5px;
}

.work-section img {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  cursor: pointer;
}

.work-section img:first-child {
  max-width: 600px;
}

/* Media queries */
@media screen and (max-width: 600px) {
  section {
    padding: 30px;
  }
}

@media screen and (max-width: 400px) {
  header {
    padding: 10px;
  }
}